remote:
  host: "www.crispclean.be"
  user: "crispcle"
  path: "/home3/crispcle/public_html/projects/mse-europe"
behaviour:
  uploadOnSave: false
  syncDownOnOpen: false
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: false
option:
  deleteFiles: true
  exclude: [
    ".sync-config.cson"
    ".git"
    "node_modules"
    "tmp"
    "vendor"
  ]

# cat ~/.ssh/id_rsa.pub | ssh user@machine "mkdir ~/.ssh; cat >> ~/.ssh/authorized_keys"
